<pre>{{report.body}}</pre>
<p>
  <a href="/reports/{{report.id}}/dump">
    download dump file
  </a>
</p>
<p>
  <button id="delete-report-btn">
    delete crash report
  </button>
</p>
<script>
 const deleteReportBtn = document.getElementById('delete-report-btn')
 deleteReportBtn.addEventListener('click', event => {
   const opts = {
     headers: new Headers({
       authorization: `Basic ${document.cookie.split('authorization=')[1]}`
     }),
     method: 'DELETE'
   }
   fetch(document.location.pathname, opts)
     .then(res => {
       const location = res.headers.get('location')
       if (location) document.location.pathname = location
     })
     .catch(err => console.error(err))
 })
</script>
