body {
  font-family: sans-serif;
  font-size: 87.5%;
}

button.destroy {
  font-size: 16px;
  text-transform: uppercase;
  border: 0;
  color: rgb(153, 0, 0);
  background-color: transparent;
}

button.destroy img {
  margin-right: 4px;
  width: auto;
  height: 12px;
}

dd,
dt {
  display: inline-block;
}

dd {
  width: 79%;
  margin-left: 1%;
}

dt {
  width: 20%;
  text-align: right;
}

h1 form {
  display: inline-block;
  margin-left: 8px;
}

pre {
  word-wrap: break-word;
}

table {
  width: 100%;
}

td,
th {
  padding: 8px;
}

td {
  border-top: 1px solid #ccc;
}

td img {
  width: auto;
  height: 12px;
}

th {
  text-align: left;
}
